
.form-wrapper {
    width: 200px;
    border: 2px solid black;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.form-wrapper label {
    margin: 10px 0;
}


.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}